@model BooksViewModel

<h1>The Book Collection</h1>

<div class="container">
    @foreach (Book b in Model.Books)
    {
        // pulls this info from the BookSummary.cshtml page
        <partial name="BookSummary" model="b" />
    }
</div>

@* this is created via the paginationTagHelper.cs page *@
<div page-book="@Model.PageInfo" page-action="Index"></div>